<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(f)" #f="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        type="text"
        name="title"
        placeholder="Post Title"
        matInput
        [ngModel]="activePost?.title"
        required
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        rows="6"
        name="content"
        placeholder="Post Content"
        matInput
        [ngModel]="activePost?.content"
        required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button
      color="accent"
      mat-raised-button
      type="submit">Save post</button>
  </form>
</mat-card>
