mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-picker {
  margin-bottom: 1rem;
}

.image-preview {
  height: 5rem;
  margin: 0 0 1rem;
}

.image-preview img {
  height: 100%;
}
